.content-post-body img{
    max-width: 100%;
}
.logo {
    display: none;
}
.sidebar-header-title{
    color: #666;   
}
.sidebar-header-title:link{
    color: #666;   
    text-decoration:none;
}
.sidebar-header-title:visited{
    color: #666;   
    text-decoration: none; 
}
.sidebar-header-title:hover{
    color: #666;   
    text-decoration: none; 
}
