.content-post-body img{
    max-width: 100%;
}
.logo {
    display: none;
}
.sidebar-header-title{
    color: #666;   
}
.sidebar-header-title:link{
    color: #666;   
    text-decoration:none;
}
.sidebar-header-title:visited{
    color: #666;   
    text-decoration: none; 
}
.sidebar-header-title:hover{
    color: #666;   
    text-decoration: none; 
}
.haha {
        position: fixed;
        bottom: 0;
        right: 15px;
        z-index: 999;
        font-size: 0;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        -webkit-transform: translateY(45px);
        transform: translateY(45px)
    }

    .haha:hover {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }

    .haha img {
        width: 100px;
	-moz-transform:scaleX(-1);
    	-webkit-transform:scaleX(-1);
    	-o-transform:scaleX(-1);
    	transform:scaleX(-1);
    	/*IE*/
    	filter:FlipH;
    }